.chessContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
}
.board{
    display: flex;
    width: 455px;
    box-sizing: border-box;
    height: 450px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    border-collapse: collapse;
    border: 1px solid #000;
    position: relative;
    padding: 25px;
}
.square{
    box-sizing: border-box;
    width: 50px;
    line-height: 50px;
    height: 50px;
    border: 2px solid #000;
}
.note{
    width: 300px;
}
.note h2 {
    border-bottom: 2px solid #000;
}
.stepBoard{
    padding: 10px;
    height: 400px;
    overflow-y: auto;
}
.step{
    width: 100px;
    margin: auto;
    text-align: left;
    font-size: 20px;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    margin-bottom: 5px;
    box-sizing: border-box;
}
.step:hover{
    background-color: #ddd;
}
.step > span{
    margin-left: 20px;
}


.modal{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}
.modalBox {
    position: absolute;
    width: 300px;
    height: 200px;
    background-color: #fff;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 50px;
    box-sizing: border-box;
}
.modalBox p {
    margin-bottom: 20px;
}
.ConfirmBtn {
    background-color: #0d0;
    border: 2px solid #0d0;
    width: 80px;
    margin: auto;
    box-sizing: border-box;
    padding: 4px 8px;
    margin-top: 20px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}
.ConfirmBtn:hover{
    background-color: #fff;
    color: #0d0;
}