.singleItem{
    display: flex;
    background: #F4E2C9;
    padding: 30px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
.singleItem li{
    cursor: move;
}
.box{
    background: #fff;
    color: #ccc;
    font-size: 20px;
    font-weight: 100;
    position: relative;    
    padding: 20px 10px;
    box-sizing: border-box;
    min-width: 20%;
    min-height: 100px;
}
.title{
    position: absolute;
    padding: 5px;
    box-sizing: border-box;
    background-color: #FF7373;
    color: white;
    left: -20px;
    top: -20px;
}
.item,.tmp{
    height: 25px;
}
.box1{
    width: 30%;
    text-align: left;
}

.box1 li{
    padding: 10px 0;
}
.box2{
    width: 200px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.box2 li {
    background-color: #5F9EDF;
    padding: 5px 8px;
    color: white;
    margin: 0 10px 10px;
    width: 50px;
}
.tmp {
    opacity: 0.5;
    background-color: #000;
}
