body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
}
img{
  vertical-align: middle;
}
h1{
  font-size: 3em;
  margin-bottom: 20px;
}
.header{
  background-color: #282C34;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}
.logo a{
  display: inline-block;
}
.logo img{
  width: 40px;
}
.logo span{
  color: #09D3AC;
  font-weight: 700;
  font-size: 1.5em;
  vertical-align: middle;
}
.menu{
  display: flex;
  align-items: center;
  font-size: 1.2em;
}
.menuItem{
  margin: 0 10px;
  padding: 11px 0;
}
.menuLink{
  color: white;
  padding: 10px 0;
  box-sizing: border-box;
}
.menuLink:hover{
  color: #09D3AC;
  border-bottom: 3px solid #09D3AC;
}
.container{
  padding: 40px 25px;
  text-align: center;
}
#filterBar{
  width: 200px;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 1.2em;
}
#filterBar:focus{
  outline: none;
}
.dataSpace{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  
}
.dataItem{
  width: 30.3333%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 15px 10px;
  height: 100px;
  margin: 0 1.5% 20px;
  text-align: left;
}